/*** Vanaf hier altijd kopiëren in je eigen CSS ***/
/* Universal border-box with inheritance*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Image sizing (prevent oversized images) */
img {
  max-width: 100%;
}
/*** Tot hier altijd kopiëren in je eigen CSS ***/

/* Typografie */
h1,
h2,
h3,
nav {
  font-family: Exo, sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Body */
body {
  background-color: #e8f5e9;
  width: 62.5rem; /* 1000px */
  margin: 0 auto;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  gap: 1rem;
  padding: 1rem;
}

/* Header */
header {
  grid-area: header;
  background-color: #388e3c;
  color: white;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* Navigatie */
nav ul {
  padding: 0; /* Anders krijg je standaard padding van de browser */
}

nav li {
  display: inline-block;
  background-color: #4caf50;
  border: 1px solid #2e7d32;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

nav li a {
  /* anders blauwe, onderlijnde links */
  color: white;
  text-decoration: none;
}

nav li:hover,
nav li:active {
  background-color: #43a047;
  font-weight: bold;
}

/* Main and Aside */
main,
aside {
  background-color: white;
  padding: 1rem;
  border-radius: 0.25rem;
}

main {
  grid-area: main;
}
aside {
  grid-area: aside;
}

/* Article styles */
article {
  border-top: 2px solid #388e3c;
  margin-bottom: 1rem;
}

article:first-child {
  /* je kan ook de klasse gebruiken */
  border-top: none;
}

/* figure and figcaption */
figure {
  margin: 0;
  border-radius: 0.25rem;
}

figure img {
  border-radius: 0.25rem;
}

figcaption {
  font-size: 0.8rem;
  color: #555;
  margin-top: 0.25rem;
}

/* Footer */
footer {
  grid-area: footer;
  background-color: #388e3c;
  color: white;
  text-align: center;
  padding: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
