html {
  font-family: Arial, sans-serif;
}
h1 {
  font-family: "Century Gothic", sans-serif;
  color: #fa6432;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}
h2 {
  font-family: "Century Gothic", sans-serif;
  color: #00283c;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
}
p {
  font-family: Arial, sans-serif;
  color: #000a1e;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
}
figure {
  float: left;
  margin: 0 20px 20px 0;
}
