html {
  background-color: royalblue;
  color: royalblue;
  font-size: 20px;
  font-family: "MS Reference Serif", serif;
}

body {
  width: 1100px;
  margin: 20px auto 0 auto;
  background-color: peachpuff;
  padding: 30px 0; /* with the float margin-top on header does not work as expected */
}
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MS Reference Sans Serif", sans-serif;
}

h1,
h2,
p {
  margin: 0 0 20px 0;
}

h1 {
  font-size: 50px;
}

.subtitle {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

header,
aside,
main,
footer {
  border: 3px solid royalblue;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 20px 30px;
  margin: 30px;
}

header,
main {
  width: 600px;
}
header {
  height: 68px;
  margin-top: 0; /* with the float we have to reset margin-top here, otherwise positioning is too low */
}
footer {
  height: 100px;
  margin-bottom: 0; /* with the float we have to reset margin-bottom here, otherwise positioning is too high */
}
aside {
  float: right;
  width: 220px;
  margin-top: 0; /* with the float we have to reset margin-top here, otherwise positioning is too low */
  text-align: right;
}

footer p {
  font-size: 18px;
  text-align: right;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0; /* apparently there is a standard margin and padding that would break our design, use inspector to see this */
  padding: 0;
}

nav li {
  display: inline-block;
  width: 100px;
  border: 3px solid royalblue;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 10px;
  text-align: center;
  background-color: coral;
}

nav .active {
  color: black;
}

nav a {
  text-decoration: none;
  color: royalblue;
}

nav a:hover {
  color: blueviolet;
  font-weight: bold;
}
